@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Kite+One&family=Nunito:wght@400;600&family=Varela+Round&display=swap');
:root{
	--primaryColor: #bf4646;
	--backgroundColor: white;
	--onBackgroundColor: black;
	--onBakcgroundVariantColor: grey;
};

/*LAYOUT*/
html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	display: flex;
	gap: 2em;
	align-items: flex-end;
	height: calc(100vh - 30px);
    padding-bottom: calc(12vh);
    box-sizing: border-box;

	font-family: 'Varela Round', sans-serif;
	/*font-family: 'Kite One', sans-serif;*/
	/*font-family: 'Sofia', sans-serif;*/
	/*font-family: 'Nunito', sans-serif;*/
	/*font-family: 'Happy Monkey', cursive;*/
	
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
	color: var(--onBackgroundColor);
}

body>header{
	color: var(--primaryColor);
	border-left: 1em solid transparent;/*var(--primaryColor);*/
	/*border: 1em var(--primaryColor) dashed;*/
}

p{
	/*text-align: right;*/
	/*font-size: smaller;*/
}
p>img+em{
	text-align: right;
	font-size: smaller;
	display: black;
	font-size: smaller;
    display: block;
    width: 100%;
    padding: 0.5em 2em;
    box-sizing: border-box;
    color: var(--onBakcgroundVariantColor);
}

body>nav{
	white-space: nowrap;
}

body>nav li{
	margin: 0.3em;
}

body>nav ul.pages{
	/*position: absolute;*/
	margin-top: 1em;
}

body>nav a.active{
	display: inline-block;

	
	white-space: normal;
	white-space: break-spaces;
	
	
	
	/*font-size: 160%;*/
	/*font-variant: all-petite-caps;*/
	/*font-weight: bold;*/
	/*text-decoration: underline;*/
	/*border-bottom: 1px solid var(--primaryColor);*/
	/*margin-left: 0.5em;*/

	
	/*text-transform: uppercase;*/
}

article>h2{
	/*border: 1em var(--primaryColor) dashed;*/
	text-decoration: underline;
}

article>*{
	margin: 0 2em;
}

article{
	display: flex;
	align-items: flex-end;
	gap: 2em;
	margin-left: 3em;
}

article>p{
	display: inline-block;
}

article>p>img{
	max-height: 77vh;
	max-width: 99vw;
	object-fit: contain;
}

nav{
	color: var(--primaryColor);
	min-width: 10em;
}

/* COMPONENTS */
h1{
	margin: 0;
}

h2{
	color: var(--primaryColor);
}

/* Navigation */
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav a{
	color: inherit;
	text-decoration: none
}
nav a:hover{
	text-decoration: underline;
}