<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body class="{{page.title}}">
	<header>
		<h1>
			Judit<br/>Fischer
		</h1>
		<nav>
			<ul class="projects">
				{% for project in site.projects %}
				<li><a href="{{ project.url }}">{{ project.title }}</a></li>
				{% endfor %}
			</ul>
			<ul class="posts">
				{% for post in site.posts %}
			    <li><a href="{{ post.url | relative_url }}" class="{% if page.url == post.url %}active{% endif %}">{{post.title}}</a>
			    </li>
			  	{% endfor %}
			</ul>
			<ul class="pages">
				{% for page in site.pages %}
				{% unless page.exclude %}
			    <li><a href="{{ page.url | relative_url }}">

			    {{page.title | default: page.name | split: "." | first}}

			  	</a></li>
			    {% endunless %}
			  	{% endfor %}
			</ul>
		</nav>
		<span id="back"><</span>
	</header>
	
	<article class="{{page.title}}">
		<h2>{{page.title}}</h2>
		{{page.content | markdownify}}
		{% for item in page.gallery %}
		<figure>
			<img src="{{item.image_path}}"></img>
			<figcaption>
				{{item.caption}}
			</figcaption>
		</figure>
		{% endfor %}
	</article>

	<footer>
	</footer>

	<script>
		if (
			"IntersectionObserver" in window &&
			"IntersectionObserverEntry" in window &&
			"intersectionRatio" in window.IntersectionObserverEntry.prototype
			)
		{

			let header = document.querySelector("body>header")
			let observer = new IntersectionObserver(entries => {
				// console.log(entries[0].boundingClientRect);
				let entry = entries[0]
				if(entries[0].isIntersecting){
					entry.target.classList.remove("unseen");
				}else{
					entry.target.classList.add("unseen");
				}

			});

			observer.observe(header);

			header.addEventListener('click', ()=>{
				window.scrollTo({left: 0, behavior: 'smooth'});
			})
		}
	</script>
  </body>
</html>

